Repository PyDrocsid/cogs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Defelo, @PyDrocsid/code-reviewer, @PyDrocsid/text-reviewer

.github/CODEOWNERS:

* @Defelo
translations/ @PyDrocsid/code-reviewer @PyDrocsid/text-reviewer
/custom_commands/ @PyDrocsid/code-reviewer @PyDrocsid/text-reviewer
*.md @PyDrocsid/text-reviewer
*.py @PyDrocsid/code-reviewer

Apply comment suggestions from code review
  general/remind_me/cog.py
Owners: @PyDrocsid/code-reviewer

Extracted the functionality of removing a members reaction if he does not allow DMs into a function.
  general/remind_me/cog.py
Owners: @PyDrocsid/code-reviewer

Codestyle fix
  general/remind_me/cog.py
Owners: @PyDrocsid/code-reviewer

Applied review suggestions
  general/remind_me/cog.py
  general/remind_me/translations/en.yml
Owners: @PyDrocsid/code-reviewer, @PyDrocsid/text-reviewer

Update documentation.md
  moderation/mediaonly/documentation.md
Owners: @PyDrocsid/text-reviewer

Update documentation.md
  moderation/mediaonly/documentation.md
Owners: @PyDrocsid/text-reviewer

Update documentation.md
  moderation/mediaonly/documentation.md
Owners: @PyDrocsid/text-reviewer

Update documentation.md
  moderation/mediaonly/documentation.md
Owners: @PyDrocsid/text-reviewer

Update documentation.md
  moderation/mediaonly/documentation.md
Owners: @PyDrocsid/text-reviewer

Update documentation.md
  moderation/mediaonly/documentation.md
Owners: @PyDrocsid/text-reviewer

Update documentation.md
  moderation/mediaonly/documentation.md
Owners: @PyDrocsid/text-reviewer

Update documentation.md
  moderation/mediaonly/documentation.md
Owners: @PyDrocsid/text-reviewer

Improved mediaonly documentation
  moderation/mediaonly/documentation.md
Owners: @PyDrocsid/text-reviewer

Update documentation.md (#64)
  moderation/mediaonly/documentation.md
Owners: @PyDrocsid/text-reviewer

Fixed wastebasket feature and improved codestyle
  general/remind_me/cog.py
  general/remind_me/translations/en.yml
Owners: @PyDrocsid/code-reviewer, @PyDrocsid/text-reviewer

Merge pull request #38 from Tristan-H11/feature/RemindMe
  general/remind_me/cog.py
  general/remind_me/translations/en.yml
Owners: @PyDrocsid/code-reviewer, @PyDrocsid/text-reviewer

Fixed codestyle
  general/remind_me/cog.py
Owners: @PyDrocsid/code-reviewer

Added function to edit kick reasons
  moderation/mod/cog.py
  moderation/mod/models.py
  moderation/mod/translations/en.yml
Owners: @PyDrocsid/code-reviewer, @PyDrocsid/text-reviewer

Added function to edit ban reasons
  moderation/mod/cog.py
  moderation/mod/models.py
  moderation/mod/translations/en.yml
Owners: @PyDrocsid/code-reviewer, @PyDrocsid/text-reviewer

added send_long_embed
  moderation/auto_delete_messages/cog.py
Owners: @PyDrocsid/code-reviewer

translation for channels added
  moderation/auto_delete_messages/cog.py
  moderation/auto_delete_messages/translations/en.yml
Owners: @PyDrocsid/code-reviewer, @PyDrocsid/text-reviewer

Fixed http redirects in mediaonly
  moderation/mediaonly/cog.py
Owners: @PyDrocsid/code-reviewer

Added mediaonly checks to edit events
  moderation/mediaonly/cog.py
Owners: @PyDrocsid/code-reviewer

Moved mediaonly list command into group
  moderation/mediaonly/cog.py
Owners: @PyDrocsid/code-reviewer

Fixed small image mediaonly exploit
  moderation/mediaonly/cog.py
Owners: @PyDrocsid/code-reviewer

Fixed verify command
  moderation/verification/cog.py
Owners: @PyDrocsid/code-reviewer

Added documentation to cogs command
  information/bot_info/cog.py
Owners: @PyDrocsid/code-reviewer

Added cog documentation to help command
  information/help/cog.py
  information/help/translations/en.yml
Owners: @PyDrocsid/code-reviewer, @PyDrocsid/text-reviewer

Moved util cmd descriptions into translations
  general/utils/cog.py
  general/utils/translations/en.yml
Owners: @PyDrocsid/code-reviewer, @PyDrocsid/text-reviewer

Added documentation for suggest_role_color command
  general/utils/documentation.md
Owners: @PyDrocsid/text-reviewer

Added encode command
  general/utils/cog.py
  general/utils/colors.py
  general/utils/documentation.md
  general/utils/translations/en.yml
Owners: @PyDrocsid/code-reviewer, @PyDrocsid/text-reviewer

Improved suggest_role_color command
  general/utils/cog.py
Owners: @PyDrocsid/code-reviewer

documentation added
  moderation/auto_delete_messages/documentation.md
Owners: @PyDrocsid/text-reviewer

updated table
  moderation/auto_delete_messages/documentation.md
Owners: @PyDrocsid/text-reviewer

Fixes and improvements
  moderation/__init__.py
  moderation/auto_delete_messages/__init__.py
  moderation/auto_delete_messages/cog.py
  moderation/auto_delete_messages/models.py
  moderation/auto_delete_messages/translations/en.yml
  moderation/autoclear/__init__.py
  moderation/autoclear/cog.py
  moderation/autoclear/colors.py
  moderation/autoclear/documentation.md
  moderation/autoclear/models.py
  moderation/autoclear/permissions.py
  moderation/autoclear/translations/en.yml
Owners: @PyDrocsid/code-reviewer, @PyDrocsid/text-reviewer

Fixed and improved documentation
  moderation/autoclear/documentation.md
Owners: @PyDrocsid/text-reviewer

Fixed permission alerts
  moderation/autoclear/cog.py
  moderation/autoclear/translations/en.yml
Owners: @PyDrocsid/code-reviewer, @PyDrocsid/text-reviewer

Added bookmark emoji to RemindMe
  general/remind_me/cog.py
  general/remind_me/documentation.md
Owners: @PyDrocsid/code-reviewer, @PyDrocsid/text-reviewer

Fixed vc permission overwrite bug
  general/voice_channel/cog.py
Owners: @PyDrocsid/code-reviewer

Added a function to edit ban durations
  moderation/mod/cog.py
  moderation/mod/models.py
  moderation/mod/translations/en.yml
Owners: @PyDrocsid/code-reviewer, @PyDrocsid/text-reviewer
