Repository PyDrocsid/cogs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Defelo, @PyDrocsid/code-reviewer, @PyDrocsid/text-reviewer

.github/CODEOWNERS:

* @Defelo
translations/ @PyDrocsid/code-reviewer @PyDrocsid/text-reviewer
/custom_commands/ @PyDrocsid/code-reviewer @PyDrocsid/text-reviewer
*.md @PyDrocsid/text-reviewer
*.py @PyDrocsid/code-reviewer

Added guild_only decorator to custom commands
  general/custom_commands/cog.py
Owners: @PyDrocsid/code-reviewer

Added poll options char limit
  general/polls/cog.py
  general/polls/translations/en.yml
Owners: @PyDrocsid/code-reviewer, @PyDrocsid/text-reviewer

Create documentation.md
  general/custom_commands/documentation.md
Owners: @PyDrocsid/text-reviewer

Update documentation.md
  general/custom_commands/documentation.md
Owners: @PyDrocsid/text-reviewer

Update documentation.md
  general/custom_commands/documentation.md
Owners: @PyDrocsid/text-reviewer

Update documentation.md
  general/custom_commands/documentation.md
Owners: @PyDrocsid/text-reviewer

Improved invite detection
  moderation/invites/cog.py
Owners: @PyDrocsid/code-reviewer

Added setting for whether to send a user a concerning delete message
  moderation/mod/cog.py
  moderation/mod/permissions.py
  moderation/mod/settings.py
  moderation/mod/translations/en.yml
Owners: @PyDrocsid/code-reviewer, @PyDrocsid/text-reviewer
